@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* $dark-mode-bg: #393E46, 100%;
$light-mode-bg: #FDFDFD, 100%; */


body {
  color: #393E46;
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
