.Main-header {
    background-color: #FDFCF3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #229A90;
}

.Main-link {
color: #229A90;
text-decoration: underline dotted;
}
a:hover{
color: #bcc0bb;
}