@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* $dark-mode-bg: #393E46, 100%;
$light-mode-bg: #FDFDFD, 100%; */

/* div{ box-shadow: 0px 4px 4px rgb(200, 200, 200); } */

html, body {
  background-color: white;
  color:#393E46;
  margin: 0;
  font-family: Poppins;
  font-size: 16px;
  font-size: 1.5vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*min-height: 100vh;*/
  /*height: 100%;*/
  /* display: flex; */
  /* width: 80%; */
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  float: left;
  /* margin:15px; */
  padding: 5px;
  /* border: 1px solid red; */
}

a:link, a:active, a:visited{
  background-color: transparent;
  color: black;
  display: inline-flex;
  text-decoration: none;
}
a:hover{
  color: #bcc0bb;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.center {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.darkmode, .darkmode html, .darkmode body {
  background-color: black;
  color: white;
}


/* gradients */
.gradient {
  background: rgb(78,204,163);
  background: -moz-linear-gradient(50deg, rgba(78,204,163,1) 10%, rgba(253,187,45,1) 100%);
  background: -webkit-linear-gradient(50deg, rgba(78,204,163,1) 10%, rgba(253,187,45,1) 100%);
  background: linear-gradient(50deg, rgba(78,204,163,1) 10%, rgba(253,187,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ecca3",endColorstr="#fdbb2d",GradientType=1);
  background-size: 200% 200%;
  left: 11vw;
  top: -14vw;
  width: 20%;
  height: 40em;
  position: absolute;
  transform: rotate(40deg);
  transform-origin: top left;
  z-index: -1;
  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;

}
@-webkit-keyframes Animation {
  0%{background-position: 0% 50%}
  50%{background-position: 100% 50%}
  100%{background-position: 0% 50%}
}
@-moz-keyframes Animation {
  0%{background-position: 0% 50%}
  50%{background-position: 100% 50%}
  100%{background-position: 0% 50%}
}
@keyframes Animation { 
  0%{background-position: 0% 50%}
  50%{background-position: 100% 50%}
  100%{background-position: 0% 50%}
}
.backlight{
  position: relative;
  background: linear-gradient(0deg, #4ECCA3, #ffbf69);
  margin-top: 50px;
  min-height: 10vh;
  width: 65%;
}
.backlight:before, .backlight:after {
  content: '';
  position: absolute;
  left: 0em;
  top: 0em;
  background: linear-gradient(45deg, #ff9f1c, #ffbf69, #cbf3f0, #4ECCA3, #2ec4b6);
  background-size: 400%;
  border-radius: 10px; 
  width: 100%;
  height: 98%;
  z-index: -1;
  animation: backlight-glow 10s linear infinite;   
}
.backlight:after {
  filter: blur(8px);
} 


@keyframes backlight-glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}



/* nav bar */
.nav {
  background: #4ECCA3;
  border-radius: 10px;
  color: #393E46;
  margin-top: 50px;
  min-height: 10vh;
  padding: 5px; 
  justify-content: space-evenly;
  width: 65%;  
}

.box{
  color: #393E46;
  cursor: pointer;
  flex-direction: column;
  font-weight: 600;
  font-size: 1rem;
  line-height: normal;
  text-align: center;
  /* position: relative; */
}
.box:hover {
  color: white;
}

/* about me */
.gradualcolor{
  animation: colorchange 15s infinite;
}
@keyframes colorchange {
  0% {background-color: #4ECCA3;}
  50% {background-color: white;}
  100% {background-color: #4ECCA3;}
}

/* experience */
.horibar{
  flex: 1;
  overflow-x: scroll;
  white-space: nowrap;
  /* width: calc(100px + 50vw); */
  /* width: 85%; */
  margin: 5px;
}
.horibar::-webkit-scrollbar {
  height: 10px;
}
.horibar::-webkit-scrollbar-track {
	background-color: #4ECCA3;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
.horibar::-webkit-scrollbar-thumb {
  background: #4ECCA3;
  border-radius: 10px;
  width: 5px;
}
.horibar::-webkit-scrollbar-thumb:hover {
  background: #393E46;
  cursor: pointer;
}

#flipped {
  transform: rotateX(180deg);
}

.scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  flex: 1;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #4ECCA3;
  border-radius: 10px;
  height: 5px;
  width: 5px;
}





#wrap{
  /* margin: 0 auto; */
  width: calc(200px);
  word-break: break-all;
  /*height: 100%;*/
  /* overflow: auto; */
  white-space: nowrap;
}

.content{
 /* 
 margin: 10px 50px 15px 50px; 
 margin-bottom, margin-left, margin-top, margin-right */
  margin: 2vw;
  text-align: center;
  white-space: pre-wrap;
  display: inline-block;
  word-wrap: break-word;
}
.content p{
  /* margin: 10px 50px 15px 50px; */
  margin-right: 20px;
  width: 300px;
  word-break: keep-all;
  padding-bottom: 20px;
}
.content h4 h3 h2 h1{
  font-weight: 600;
  color: #4ECCA3;
}


/* projects */
.projcontainer{
  border: 3px solid #4ECCA3;
  border-top-width: 10px;  
  border-radius: 10px;
  /* display:  inline-grid; */
  margin: 3vh;
  position: relative;
  overflow: auto;
  height: 200px;
  width: 43%;
  word-break: break-all;
  /* word-break: keep-all; */
  white-space: nowrap;
}

.bottomright {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 16px;
}
.bottomleft {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 16px;
}


/* skills */
.skill{
  background-color: #4ECCA3;
  border-radius: 10px;
  color: white;
  display: inline-block;
  padding: 10px;
  margin: 5px;
}


/* tooltip */
.sidebar{
  margin: 0px;
  padding: 0px;
  position: fixed;
  right: -119px;
  top: 30%;
  width: 180px;
}

.tooltip{
  /* width: calc(150px + 6vmin); */
	background-color: #4ECCA3;
  border-radius: 30px;
  /* color: rgb(175, 62, 62); */
  font-size: initial;
  list-style-type: none;
  margin: 0px 0px 10px 0px;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
.tooltip:hover{
  color: white;
	margin-left: -115px;
  /* border-radius: 25px 25px 25px 0; */
}

.tooltip img{
  filter: brightness(0);
  margin: 5px 5px;
}

.tooltip span{
  top: -20px;
  position: relative;
}

.contrast { filter: contrast(140%); }

img:hover{
  filter: saturate(00%) brightness(200%);
}