/* .toggle-placement {
  display: flex;
  justify-content: flex-end;  
  // moves it to right.
  position: relative;
  padding: 1rem;
}
.toggle-placement .display{
  display: none;
}

.darktheme{
  border-color: green;
  background-color: greenyellow;
}
.darktheme body {
  background-color: blanchedalmond;
  color: blue;
}  
.themeswitch_label{
  / what toggle looks like /
  cursor: pointer;
  display: block;
  width: 3em;
  height: 1.5em;
  background-color: rgba(102, 51, 153, 0.767);
  border: 2px solid rgba(255, 65, 144, 0.89);
  border-radius: 2em; * makes curved border *
  transition: all .2s ease;
}
.themeswitch_label::after {
  * what the lever looks like *
  content: "";
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  background-color: olive;
  border-radius: 1em;
  transition: all .2s ease;  
} */
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}
.darkmode {
  background-color: black;
  color: white;
}